/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: inline-block;
  /* margin: 0px 10px; */
  margin-right: 10px;
  height: 30px;

  
}


#cloud {
  width: 80px;
  height: auto;
  
}

header {
  display: flex;
  /* border: solid red; */
  margin-top: 20px;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

h1 {
  /* font-size: 3rem; */
}



button {
  background-color: #39daa2;
  border: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid black */
}

button:hover {
  cursor: pointer;
}

body {
  padding: 0px 20px;
  color: rgb(0, 0, 0);
  /* background-color: rgb(0, 33, 39); */
  font-size: 1.2rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifS;
}

h2 {
  margin: 0;
}
input {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(196, 196, 196);
  margin-bottom: 0px;
  width: 300px;
  flex: auto;
  height: 42px;
  border-radius: 5px;
  
  /* height: 30px; */

}

/* section {
  border: 1px solid rgb(97, 97, 97);
  padding: 10px;
  width: 300px;
  padding-top: 0;
} */

.topCoin {
  float: left;
}

#search {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  /* border: solid red; */
  
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 85vw;
  max-width: 800px;

  margin: 30px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifS;

}

td, th {
  /* border: 1px solid rgb(97, 97, 97); */
  border: 1px solid rgb(196, 196, 196);
  text-align: left;
  padding: 8px;
  border-left: none;
  border-right: none;
  
}

.name {
  /* width: 150px;  */
}
/* .ticker {
  width: 70px;
}
.price {
  width: ;
} */

.center {
  display: flex;
  align-items: center;
  border: none;
  border: 1px solid rgb(196, 196, 196);
  border-top: none;
  border-left: none;
  border-right: none;
}


/* tr:nth-child(even) {
  background-color: #f6f6f6;
} */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/


@media screen and (max-width: 575px) {
  .num, .number, .ticker, .cap {
  display: none;
}
input , button {
  width: 85vw;
}
#search {
  flex-direction: column;
}
}

